In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Excercise 1

In [2]:
# The Null Hypothesis (H0): The average blood pressure of 130.1 is not significantly
# different to the average of the population being 120

mean_populat = 120
samp_size = 100
x_average = 130.1
x_stand_dev = 21.21

In [3]:
# Calculate the t-score or the test-statistics
t = (x_average - mean_populat) / (x_stand_dev / np.sqrt(100))
print("The t score of our sample is: {:.2f}".format(t))

The t score of our sample is: 4.76

In [4]:
# Calculate the critical value based on the set significant level of 5% (two-sided)
tc = stats.t.ppf(0.975, df=99)
print("The critical value corresponding to a two-sided 0.95 area of a T Student distribution is: {:.2f}".format(tc))

The critical value corresponding to a two-sided 0.95 area of a T Student distribution is: 1.98

In [5]:
# result
# t = 4.76 > tc = 1.98
# -> we REJECT the NULL HYPOTHESIS, the blood preassure of the sample is siginficantly different from the population

### Excercise 2

In [6]:
# read txt and put into a df
df=pd.read_table("Data_Machine.txt", header="infer", sep="\t")

In [7]:
df

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [8]:
# The Null Hypothesis (H0): The average time for packing cartons for the new Machine
# is not significantly lower than the average time for the old Machine (-> one sided)

In [9]:
sample_size = 10
New_Mach_average = df["New Machine"].mean()
Old_Mach_average = df["Old Machine"].mean()
New_Mach_SD = df["New Machine"].std()
Old_Mach_SD = df["Old Machine"].std()

In [14]:
# Calculate the t-score or the test-statistics
t = (New_Mach_average - Old_Mach_average) / np.sqrt(((New_Mach_SD**2)/10) + ((Old_Mach_SD**2)/10))
print("The t score of our sample is: {:.2f}".format(t))

The t score of our sample is: -3.40

In [15]:
# Calculate the critical value based on the set significant level of 5% (one-sided)
tc = stats.t.ppf(0.95, df=9)
print("The critical value corresponding to a one-sided 0.95 area of a T Student distribution is: {:.2f}".format(tc))

The critical value corresponding to a one-sided 0.95 area of a T Student distribution is: 1.83

In [16]:
# result
# t = -5.04 < tc = -1.83
# -> we REJECT the NULL HYPOTHESIS, the new Machine is significantly faster